<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<h1> </h1>
<div>
<table th:border="1">
    <tr th:each="car:${carList}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getSeries()}"></td>
        <td th:text="${car.getYear()}"></td>
    </tr>
</table>
</div>

<div>
    <th:block th:each="msg : ${messageSS}">
        <h1 th:text="${msg}"></h1>
    </th:block>

</div>

</body>
</html>
